
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<a routerLink="/home" style="margin-left: 15px"><li class="nav-list" ><i class="fa fa-home icon-white" style="font-size:15px"></i> Home</li></a>
					<a routerLink="/notifications" style="margin-left: 15px"><li class="nav-list"><i class="fa fa-bell icon-white" style="font-size:15px"></i> Notification</li></a>
					<a routerLink="/new_tweet" style="margin-left: 15px;margin-top: 7px"><li class="nav-list">Tweet</li></a>
					<ng-container *ngIf="current_user">
						<a [routerLink]="['/users/',current_user.id]" style="margin-left: 15px"><li class="nav-list"><i class="fa fa-user icon-white" style="font-size:18px;"></i> Profile</li></a>
					</ng-container>
			</ul>
			<i class="fab fa-twitter icon-white" style="font-size:22px;margin-right: 210px;color:#1da1f2"></i>
			<button *ngIf="loggedIn" (click)="logoutAndRedirect()" class="btn btn-danger logout-btn">Log out</button>
			<form (keydown.enter)="searchUser(search_val.value)" class="form-inline my-2 my-lg-0 nav-search">
					<input #search_val name="name" type="text" id="search-val" class="form-control" placeholder=" Search...">
			</form>
		</div>
</nav>	
<router-outlet></router-outlet>

   